*
{
    margin: 0;
    padding: 0;
}
.sidebar
{background-color: lightgrey;
    width: 434px;
    height: 100vh;
    font-family: 'Fira Sans', sans-serif;
}
.sidebar nav
{
    padding: 45px
}
.sidebar nav li
{
    padding: 33px 0;
    list-style: none;
    font-size: 30px;
}
.sidebar nav li a
{
    text-decoration: none;
    color: black;

}
.main
{
    padding: 20px;
    width: 90vw;
}
.container
{
    display: flex;
}
.infoContainer
{
    margin: 80px auto;
    height: 58vh;
    width: 80vw;
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
}
.devInfo
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;
}
.devPic img
{
    height: 58vh;

}   
.hello
{
    font-size: 45px ;
}
.name
{
    font-size:52px ;
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif;

}
.about
{
    margin-top: 10px;
    font-size: 25px;
}
.moreAbout
{
    font-size: 15px;
    font-family: 'Fira Sans', sans-serif;
    margin-top: 23px;
}
.buttons
{
    margin-top: 34px;

}
.btn
{
    padding: 11px 14px;
    border-radius: 22px;
    margin: 0 3px ;
    background-color: dodgerblue;
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}
.btn:hover
{
    background-color:white ;
    color: dodgerblue;
}
.btn-sm
{
    font-size: 14px;
    padding: 10px 19px;
    margin: 12px 0;
}

/* contactForm */

.contactForm
{
    padding:0 34px;
    padding-top: 54px;
    font-family: 'Fira Sans', sans-serif;   
}
.contactForm h1
{
    font-family: 'Source Code Pro', monospace;
    padding: 12px 0;
}
.contactForm form div
{
    padding: 10px 0;
    display: flex;
flex-direction: column;
}
.contactForm form input
{
    width: 16vw;
    border-radius: 6px;
    font-size: 20px;
    margin-top: 6px;
    padding: 3px;
}
#emailHelp
{
    font-size: 8px;
    margin: 0px 5px;
    color: midnightblue;
}
#form-check
{
    flex-direction:row;
}
#form-check input{

    width: 24px;
    margin: 3px 0;
}
#specialbutton
{
    margin: 0px;
}

/* Blog page */
 h1
{
    font-family: 'Fira Sans', sans-serif;   
    margin: 23px ;
}

.blogItem
{
    margin: 20px;
    font-family: 'Fira Sans', sans-serif;   

}
 p
{
    font-family: 'Source Code Pro', monospace;
}
/* intro page */
.intro h2
{
    font-family: 'Fira Sans', sans-serif;   
    margin: 12px 12px;
}
.intro p
{    font-family: 'Source Code Pro', monospace;
    margin: 12px 12px;

}

.skillContainer
{
    padding: 12px ;
}
.skill
{
 
    width: 265px;
    height: 6px;
    background-color: red;
    border: 2px solid black;
}
.skillItem
{
    font-family: 'Source Code Pro', monospace;
    font-weight: 900;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;    
}
.hundred
{
    width: 265px;
    background-color: blueviolet;
}
.fifty
{
    width: 125px;
    background-color: aqua;
}
.twentyFive
{
    width:75px;
    background-color: yellow;
}
@media (max-width:1600px){
    .sidebar
    {
        transform: translate(-443px,0px);
        position: absolute;
    }
}